body {
  background: green;
}
.top-section {
  background-image: url(https://source.unsplash.com/user/oldskool2016/daily);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.main-blast {
  border: 5px solid black;
  border-radius: 0px 50px;
  padding: 20px 20px;
  margin-top: 10%;
  width: 50%;
  text-align: center;
  background: #fff;
  opacity: 0.5;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
.title {
  text-align: center;
  padding: 10px 0px;
}
.top-block {
  background: gray;
  padding: 40px 0px;
  opacity: 0.5;
  color: #fff;
}

.main-btns {
  border: 5px solid white;
  border-radius: 0px 30px;
  padding: 20px 20px;
  margin-top: 5%;
  width: 10%;
  text-align: center;
}
.button-section-one {
  text-align: center;
  padding-bottom: 10%;

}
.s1-b1 {
  background-color: transparent;
  color: #fff;
}
.s1-b1:hover {
  background-color: #707941;
}
.s1-b2 {
  background: #707941;
  color: #fff;
}
.s1-b2:hover {
  background-color: transparent;
}
.four-button-section {
  background: #fff;
}
.fhgb {
  text-align: center;
  height: 30%;
  margin-top: 5%;
}
.fhgb-col {
  margin-left: auto;
  margin-right: auto;
  width: 20%;

  padding: 5% 0%;
}
.fhgb-blurb {
  text-align: center;
  padding: 5% 5%;
}
.ferm, .hend, .grav, .prt {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.ferm  {
  background-image: url(https://source.unsplash.com/user/gallarotti/random);
}
.hend {
  background-image: url(https://source.unsplash.com/random);
}
.grav {
  background-image: url(https://source.unsplash.com/user/samuelzeller/daily);
}
.port  {
  background-image: url(https://source.unsplash.com/user/hgudka97/daily);
}
.scnd-btns {
  border-radius: 0px 30px;
  padding: 10px 10px;
  margin-top: 5%;
  margin-bottom: 8%;
  width: auto;
  text-align: center;
  background-color: #707941;
  color: #fff;
}
